/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
CLEAR FIX
*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}


/*
PAGE STRUCTURE
*/

.grid, .side_bar, .content, header {
	padding-right: 15px;
	padding-left: 15px;
	background-color: #ffffff;
}

.side_bar, .content {
	display: inline-block;
	vertical-align: top;
}

.grid {
	width: 1024px;
	display: block;
	margin-right: auto;
}

.side_bar {
	width: 18%;
}

.content {
	width: 55%;
}

/*
NAV BAR
*/

#navigation li, #contact_bar li {
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	margin: 0 auto;
}

#navigation li:last-child, #contact_bar li:last-child {
	padding-bottom: 25px;	
}

.bubble {
	background-color: #ffffff;
	height: 125px;
	width: 125px;
	border-radius: 50%;
	border-color: #00005c;
	border-width: 3px;
	border-style: solid;

	vertical-align: middle;
	text-align: center;
	display: table-cell;

	font-family: Arial, sans-serif;
	font-weight: 400;

	box-shadow: inset 0 0 0 100px rgba(0,0,0,.25);

	background-repeat: no-repeat;
	background-size: auto 125%;
}

.bubble:hover{
	color: #ffffff;	
	font-weight: 700;
	border-width: 3px;
	border-color: #0080ff;
	box-shadow: inset 0 0 0 100px rgba(0,0,0,.1);
}

a {
	text-decoration: none;
	color: #ffffff;
}

#travel {
	background-image: url("images/adventure_travel_thailand.jpg");
}

#reading {
	background-image: url("images/open_book.jpg");
}

#causes {
	background-image: url("images/helping_hand.jpg");
	background-position: right;
}

#blog {
	background-image: url("images/giving_tree.jpg");
	background-size: auto 100%;
}

#contact {
	background-image: url("images/tin_can_phone.jpg");
	background-size: auto 100%;
}

#about {
	background-image: url("images/alex_jenny_uja.jpg");
	background-position: center;
}

/*
HEADER
*/

header {
	display: block;
	min-width: 1024px;
	width: 100%;
	height: 400px;

	box-shadow: inset 0 0 0 400px rgba(0,0,0,.25);
	text-align: center;
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #0080ff;

	background-color: #00005c;
	background-position: center;
}

h1 {
	font-weight: 400;
	font-family: Arial, sans-serif;
	color: #ffffff;
	font-size: 50pt;
	padding-top: 200px;
}

h3 {
	font-style: italic;
	font-weight: 400;
	font-family: Arial, sans-serif;
	color: #ffffff;
	font-size: 20pt;
	padding-top: 15px;
}

#causes_header {
	background-image: url("images/raised_hands_volunteer.jpg");	
}

#about_header {
	background-image: url("images/raised_hands_volunteer.jpg");	
}

#blog_header {
	background-image: url("images/raised_hands_volunteer.jpg");	
}

#reading_header {
	background-image: url("images/raised_hands_volunteer.jpg");	
}

#travel_header {
	background-image: url("images/raised_hands_volunteer.jpg");	
}

/*
CONTACT ME BAR
*/

.aside {
	text-align: center;
	display: block;
}

.aside p {
	font-style: italic;
	padding-bottom: 10px;
}

.icon {
	height: 35px;
	width: 35px;
	padding: 10px;
}


/*
CONTENT
*/

.container{
	padding-top: 50px;
	font-weight: 400;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	line-height: 20px;
}

.title {
	display: table-cell;
	vertical-align: middle;
	color: #000000;
	font-size: 18pt;
	padding-bottom: 10px;
}

.desc-main {
	font-weight: 700;
	font-size: 18pt;
}

.desc-sub {	
	font-weight: 400;
	color: #A0A0A0;
	font-size: 12pt;
}

.logo {
	width: 200px;
	padding-bottom: 10px;
}


